* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    margin: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
}


#section-1 {
    background-color: #1F2937;
}

#logo {
    color: #F9FAF8;
    font-size: 24px;
}

.headfoot {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    gap: 24px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.slice {
    padding: 100px 15vw;
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: space-between;
    gap: 48px;
}

#left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    gap: 16px;
}

#hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
button {
    width: 256px;
    height: 64px;
    border: none;
    border-radius: 16px;
    font-size: 32px;
    font-weight: bold;
    color: #E5E7EB;
    background-color: #3882F6;
    filter: drop-shadow( 3px 3px 6px black);
}
#topimage {
    flex-grow: 1;
    flex-basis: 0;
}
img {
    max-width: 100%;
    border-radius: 20px;
}

#rando {
    align-self: center;
    font-size: 36px;
    font-weight:bolder; 
    color: #1F2937;
}

#info {
    flex-direction: column;
}

#squares {
    color: gray;
    display: flex;
    justify-content: space-around;
    gap: 24px;
    text-align: center;
}

.square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    height: auto;
}

#quote {
    background-color: #E5E7EB;
    color: #1F2937;
}

blockquote {
    line-height: 1.5em;
    font-size: 26px;
    border-radius: 20px;
    padding-left: 48px;
    padding-bottom: 25px;
    border-left: 15px solid lightgray;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
    display: inline;
}

blockquote p::before {
    content: open-quote;
    font-size: 2em;
    vertical-align: -0.2em;
}
blockquote p::after {
    content: close-quote;
    font-size: 2em;
    vertical-align: -0.2em;
}

figcaption {
    font-style: italic;
    font-size: 14px;
}
/* OUTLINES HERE
body {
    border: 5px solid black;
}
#splash { 
    border: 3px solid green;
}
#hero {
    border: 2px solid cornflowerblue;
}
.container {
    border: 3px solid red;
}
#subtext {
    border: 2px solid orange;
}

#topimage {
    border: 2px solid yellowgreen;
}
.square {
    border: 5px solid brown;
}
 OUTLINES END */
